{% extends 'base.html' %}

{% block content %}
<style>
    th:hover {
        background-color: #F0F8FF;
    };
</style>
<br>
<form action="{% url 'search_products' %}" method="post">
    <div class="form-group">
        <input type="search" class="col-md-5" name="Search" placeholder="Search for item" value="" aria-label="Search">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"> Search</button>
    </div>
</form>
{% if searched %}
<h3> You searched for {{ searched }} </h3>
<table id="products-table" class="table table-striped">
    <thead>
    <tr>
        <th onclick=sortTable(0) scope="col">Product</th>
        <th onclick=sortTable(1) scope="col">Brand</th>
        <th onclick=sortTable(2) scope="col">Price</th>
        <th scope="col">Buy</th>
    </tr>
    </thead>
    <tbody>
    {% for item in products %}
    <tr>
        <td> {{item.name}}</td>
        <td> {{item.brand}}</td>
        <td> ${{item.sale_price}}</td>
        <td>
            <form action="{% url 'add_to_cart' %}" method="post">
                <input type="hidden" name="prod_id" value="{{item.id}}"/>
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-cart"
                         viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                    </svg>
                </button>
            </form>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>Hey! You forgot to search for a product!</h3>
{% endif %}
    <script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("products-table");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock content %}